@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

body {
	font-family: "Open Sans", serif;
}

.wrapper {
	background: linear-gradient(to right, #70bef4, #066ab0);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	height: 90vh;
	background: #fff;
	box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
	width: inherit;
	margin: 0 auto;
}

.title-container {
	height: 90vh;
	background: url("bg.jpg") center center no-repeat;
	background-size: cover;
	display: flex;
	align-items: start;
	justify-content: center;
	text-align: center;
	color: #fcf1d8;
	padding-top: 10%;
}

.title-container__title {
	font-size: 50px;
	letter-spacing: 2px;
	line-height: 1.3;
	font-family: "Roboto Slab", serif;
}

.title-container__subtitle {
	font-style: italic;
	font-size: 25px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1.5;
	font-family: "Merriweather", serif;
	margin: 0;
}

.form-container {
	background-color: #134165;
	height: 90vh;
	padding-top: 7em;
	padding-left: 4em;
}

input[type="text"] {
	background-color: transparent;
	border: 0;
	border-bottom: solid 2px #b46e3b;
	width: 30%;
	padding-bottom: 4px;
	color: #fcf1d8 !important;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-right: 20px;
	font-size: 20px;
}

input[type="text"] {
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
	-webkit-text-fill-color: #fff !important;
}

button {
	border: 0;
	padding: 8px 20px;
	margin: 0 2px;
	border-radius: 2px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
	background-color: #94a9ae;
	color: #fcf1d8;
	font-weight: 700;
}

button:active {
	outline: none;
}

.weather__info {
	width: 60%;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
}

.weather__key {
	color: #b46e3b;
	border-bottom: solid 2px rgba(255, 255, 255, 0.06);
	padding: 20px 0;
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
}

.weather__key:last-child {
	border: 0;
}

.weather__value {
	color: #fff;
	font-weight: 200;
}

.weather__error {
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 200;
}
@media screen and (min-width: 769px) and (max-width: 991px) {
	.form-container {
		padding-left: 3em;
	}

	input[type="text"] {
		min-width: 44%;
	}
}

@media screen and (max-width: 768px) {
	.main {
		height: 100vh;
	}

	.title-container {
		height: 35vh;
	}

	.title-container__title {
		font-size: 30px;
	}

	.title-container__subtitle {
		font-size: 20px;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 65vh;
		padding: 1em;
	}

	.weather__key {
		font-size: 16px;
		padding: 12px 0;
	}

	form {
		width: 100%;
		text-align: center;
	}

	input[type="text"] {
		width: 100%;
		margin: 0 0 16px;
	}
}
